.signup-form {
	
}

hr {
	border-color: lightgray;
}

.speaker-person {
	
}

.jury-person {
	padding-top: 5%;
	padding-bottom: 5%;
}

.speaker-photo {
	width: 100%;
}

.speaker-title {
	padding-top: 3%;
	text-align: center;
}

.speaker-description {
	text-align: justify;
}

.landing-button:hover {
	opacity: 0.90;
}

.landing-page-banner {
	background-image: url('../img/banners/banner_intro_3.svg');
}

.mobile-padding {
	padding-left: 5%;
	padding-right: 5%;
}

.mobile-sm-padding-vertical {
	padding-top: 2%;
	padding-bottom: 2%;
}

.schedule-table {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}